.gameBody {
    display: flex;
}

.container {
    height: 600px;
    width: 600px;
    display: grid;

}
.grid {
    display: grid;
}

.board {
    background: grey;
}

.colorButton{
    opacity: 0.6;
}

.active {
    opacity: 1;

}
.colorButton:hover {
    border: 2px solid grey;
}

.rainbow.active {
    border: 2px solid blue;
}